.enter {
  width: 1000px;
  height: 200px;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 20px;
  border: 0;
  font-weight: 900;
  font-size: 150px;
  line-height: 200px;
  text-align: right;
  color: #ffffff;
  outline: none;
  display: flex;
  align-items: center;
}
.enter:focus {
  border: 10px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.29);
}
.wrapper .start {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  width: 188px;
  height: 188px;
}
.iconWr {
  position: relative;
  width: 188px;
  height: 188px;
}
.icon {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: 0;
  right: 0;
  background: url(hryvnias.svg) center center no-repeat;
}
.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.enter::-webkit-outer-spin-button,
.enter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.currency {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currencyList {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.currencyList li {
  background: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 32px;
  text-align: center;
  line-height: 36px;
  color: white;
}
.currencyList li:not(:last-child) {
  margin-right: 10px;
}
