.body {
  background-image: url(star.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}
.title {
  font-size: 42px;
}
.button {
  width: 100%;
  background: linear-gradient(-45deg, #7bff00, #01521a, #d1ff04, #00ff15);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin-bottom: 30px;
}
.wallpaper {
  text-align: center;
  align-items: center;
  font-size: 100px;
  border-radius: 50px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin-bottom: 20px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
